</div>
<div class="col-md-6">
<h4 class="text-center">Сопряжение устройства</h4>
<form role="form">
	<div class="form-group">
		<label for="alias">Псевдоним для [#name#]</label>
		<input type="text" class="form-control" name="alias" id="alias" placeholder="Псевдоним" required="true" value="[#alias#]">
	</div>
	<div class="form-group">
		<label for="key">Ключ</label>
		<input type="text" class="form-control" name="key" id="key" placeholder="Введите ключ с экрана" required="true">
	</div>
	<input type="hidden" name="ip" value="[#ip#]">
	<input type="hidden" name="name" value="[#name#]">
	<button type="submit" name="subm" value="pairingKey" class="btn btn-default">Сохранить</button>
	<a href="?" class="btn btn-default"><#LANG_CANCEL#></a>
</form>
</div>